.homepage {
  width: 100%;
  height: 1112px;
  position: relative;
  background-color: var(--color-silver-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  isolation: isolate;
  line-height: normal;
  letter-spacing: normal;
}
.bottom-app-bar-parent,
.frame-parent {
  display: flex;
  align-items: flex-end;
  max-width: 100%;
  flex-shrink: 0;
}
.frame-parent {
  margin-left: -2px;
  width: 1523px;
  height: 58px;
  flex-direction: column;
  padding: var(--padding-0) 20px 3px var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-16);
}
.bottom-app-bar-parent {
  width: 1163px;
  justify-content: space-between;
  gap: 20px;
}
.bottom-app-bar,
.leading-icon {
  display: flex;
  align-items: center;
}
.bottom-app-bar {
  height: 34px;
  width: 378px;
  border-radius: 8px;
  background-color: var(--Schemes-Surface-Container);
  border: 1px solid var(--color-thistle);
  box-sizing: border-box;
  padding: var(--padding-0) var(--padding-16) var(--padding-0) 4px;
  position: relative;
  isolation: isolate;
  gap: 276px;
}
.leading-icon {
  z-index: 0;
  flex-shrink: 0;
}
.icon-1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  height: 48px;
  width: var(--width-48);
  flex-direction: column;
}
.container,
.icon-1,
.state-layer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: var(--Schemes-Secondary-Container);
  border-radius: 100px;
  overflow: hidden;
}
.state-layer {
  padding: 8px;
}
.icon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  height: var(--height-24);
  width: var(--width-24);
  position: relative;
}
.fab-elevation-override {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 28px);
  right: 16px;
  border-radius: var(--br-16);
  overflow: hidden;
  display: none;
  align-items: flex-start;
  z-index: 1;
  flex-shrink: 0;
}
.deprecated-fab,
.state-layer2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.deprecated-fab {
  box-shadow: var(--M3-Elevation-Light-3);
  border-radius: var(--br-16);
  background-color: var(--Schemes-Secondary-Container);
  overflow: hidden;
}
.state-layer2 {
  padding: var(--padding-16);
}
.boto-corao-parent {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}
.boto-corao,
.heart {
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
}
.boto-corao {
  cursor: pointer;
  height: var(--height-38);
  width: var(--width-48);
  position: relative;
  z-index: 1;
}
.heart {
  top: 6px;
  left: 11px;
  width: 25px;
  height: 25px;
  display: none;
}
.button,
.heart,
.icon3 {
  cursor: pointer;
  position: absolute;
  overflow: hidden;
}
.icon3 {
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  height: 76%;
  width: 87.2%;
  top: 12.4%;
  right: 6.4%;
  bottom: 11.6%;
  left: 6.4%;
  max-width: 100%;
  max-height: 100%;
}
.button {
  border: var(--Stroke-Border) solid var(--color-slateblue-100);
  padding: var(--Space-300);
  background-color: var(--color-silver-200);
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--Radius-200);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--Space-200);
}
.icon4,
.shopping-cart {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  overflow: hidden;
}
.shopping-cart {
  height: var(--height-28);
  width: var(--width-28);
  position: relative;
  flex-shrink: 0;
  display: none;
}
.icon4 {
  position: absolute;
  height: 87.5%;
  width: 91.79%;
  top: 4.29%;
  right: 3.93%;
  bottom: 8.21%;
  left: 4.29%;
  max-width: 100%;
  max-height: 100%;
}
.plus-icon,
.x-icon {
  position: relative;
  display: none;
  flex-shrink: 0;
}
.plus-icon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  height: var(--height-19);
  width: var(--width-19);
}
.x-icon {
  height: var(--height-16);
  width: var(--width-16);
}
.boto-carrinho-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) 17px 1px var(--padding-0);
}
.button2 {
  cursor: pointer;
  border: var(--Stroke-Border) solid var(--color-slateblue-100);
  padding: var(--Space-300);
  background-color: var(--color-silver-200);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--Radius-200);
  box-sizing: border-box;
  width: var(--width-48);
  height: var(--height-38);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--Space-200);
}
.shopping-cart3 {
  padding: var(--padding-01);
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 12px;
  width: var(--width-24);
  height: var(--height-24);
  z-index: 1;
}
.button3,
.icon6,
.shopping-cart3 {
  cursor: pointer;
  border: 0;
  overflow: hidden;
}
.icon6 {
  padding: var(--padding-01);
  background-color: transparent;
  position: absolute;
  height: 87.5%;
  width: 91.67%;
  top: 4.17%;
  right: 4.17%;
  bottom: 8.33%;
  left: 4.17%;
  max-width: 100%;
  max-height: 100%;
}
.button3 {
  padding: var(--Space-300);
  background-color: var(--color-slateblue-300);
  height: var(--height-38);
  width: 103px;
  border-radius: var(--Radius-200);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--Space-200);
}
.button4 {
  position: relative;
  font-size: var(--fs-16);
  line-height: 100%;
  font-family: var(--font-inter);
  color: var(--color-whitesmoke);
  text-align: left;
  flex-shrink: 0;
}
.frame-child,
.line-wrapper {
  align-self: stretch;
  max-width: 100%;
}
.line-wrapper {
  height: 3px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-child {
  width: 1445px;
  position: relative;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-top: 3px solid var(--color-silver-100);
  box-sizing: border-box;
}
.logo-parent {
  width: 1639px;
  height: 231.3px;
  position: absolute;
  margin: 0 !important;
  top: -60px;
  left: -105px;
  flex-shrink: 0;
}
.logo-icon,
.pixelgame-logo-minimal-1-icon {
  position: absolute;
  top: 0;
  left: 90px;
  width: 1551px;
  height: 139px;
  flex-shrink: 0;
}
.pixelgame-logo-minimal-1-icon {
  top: 20px;
  left: 0;
  width: 530.4px;
  height: 211.3px;
  object-fit: contain;
  z-index: 3;
}
.fundo,
.fundo-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  isolation: isolate;
  flex-shrink: 0;
}
.fundo-parent {
  margin-left: -13px;
  padding: var(--padding-0) var(--padding-0) var(--padding-0);
  margin-top: -1px;
  text-align: center;
  font-size: var(--fs-25);
  color: var(--color-darkslateblue);
  font-family: var(--font-average);
}
.fundo {
  width: 1547px;
  height: 1033px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  padding: 192px 90px 503px 100px;
  box-sizing: border-box;
  gap: 77px;
  z-index: 0;
  text-align: left;
  font-size: var(--fs-20);
  font-family: var(--font-iosevka-charon);
}
.background-rect,
.halo2-1-icon {
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  flex-shrink: 0;
}
.halo2-1-icon {
  width: 100%;
  height: 776.9px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 0;
}
.background-rect {
  width: 1536px;
  height: 100%;
  bottom: 0;
  background:
    linear-gradient(rgba(247, 246, 255, 0.2), rgba(247, 246, 255, 0.2)),
    linear-gradient(180deg, rgba(247, 246, 255, 0) 43.75%, #f7f6ff 90.1%);
  z-index: 1;
}
.button-parent,
.button5 {
  flex-shrink: 0;
  display: flex;
  z-index: 2;
}
.button-parent {
  width: 666px;
  height: 230px;
  flex-direction: column;
  align-items: flex-start;
  gap: 46px;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--color-slateblue-100);
  font-family: var(--font-inter);
}
.button5 {
  width: 198px;
  height: var(--height-38);
  border-radius: var(--Radius-200);
  background-color: var(--color-gray);
  border: var(--Stroke-Border) solid var(--color-slateblue-100);
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--Space-300);
  gap: var(--Space-200);
}
.button6 {
  position: relative;
  line-height: 100%;
  flex-shrink: 0;
}
.horizon-zero-dawn-container {
  width: 666px;
  height: 146px;
  position: relative;
  letter-spacing: -0.05em;
  display: inline-block;
  font-family: var(--font-montserrat);
  background: #26215c, #f2f2f7;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: var(--text-shadow-1);
  z-index: 1;
  font-size: 40px;
}
.mais-realismo-para {
  font-size: 34px;
}
.button7 {
  width: 1357px;
  height: 31px;
  border-radius: var(--Radius-200);
  background-color: var(--color-slateblue-200);
  border: var(--Stroke-Border) solid var(--Schemes-Outline-Variant);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--Space-300);
  gap: var(--Space-200);
  z-index: 3;
}
.button8 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  background: rgba(196, 196, 196, 0.69), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  flex-shrink: 0;
}
.image-1-parent {
  margin: 0 !important;
  position: absolute;
  bottom: 99px;
  left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  z-index: 1;
}
.image-1-icon {
  width: 215px;
  height: var(--height-323);
  position: relative;
  border-radius: var(--br-12);
  object-fit: cover;
}
.resident-evil-requiem {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.05em;
  font-weight: 400;
  font-family: inherit;
}
.fortnite {
  width: 207.1px;
  margin: 0 !important;
  position: absolute;
  bottom: 99px;
  left: 401.6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-15);
  z-index: 2;
}
.fortnite-icon {
  align-self: stretch;
  height: var(--height-323);
  position: relative;
  border-radius: var(--br-12);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.the-last-of-us {
  width: 206.8px;
  margin: 0 !important;
  position: absolute;
  right: 644.8px;
  bottom: 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-15);
  z-index: 3;
}
.the-last-of {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.05em;
  font-weight: 400;
  font-family: inherit;
}
.stardew-valley,
.the-sims-4 {
  width: 206.8px;
  margin: 0 !important;
  position: absolute;
  right: 376.8px;
  bottom: 99px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-16);
  z-index: 4;
}
.stardew-valley {
  width: 206.5px;
  right: 90px;
  bottom: 93px;
  gap: var(--gap-15);
  z-index: 5;
}
.stardew-valley2 {
  margin: 0;
  width: 215px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.05em;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
@media screen and (max-width: 450px) {
  .resident-evil-requiem,
  .stardew-valley2,
  .the-last-of {
    font-size: var(--fs-20);
  }
}
.detail,
.detail-inner {
  display: flex;
  box-sizing: border-box;
}
.detail {
  width: 100%;
  position: relative;
  background-color: var(--color-silver-100);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: 30px var(--padding-0) 35px;
  isolation: isolate;
  gap: var(--gap-16);
  line-height: normal;
  letter-spacing: normal;
}
.detail-inner {
  width: 1233px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) 35px;
  max-width: 100%;
  flex-shrink: 0;
}
.bottom-app-bar-parent {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.bottom-app-bar,
.leading-icon {
  display: flex;
  align-items: center;
}
.bottom-app-bar {
  height: 34px;
  width: 378px;
  border-radius: 8px;
  background-color: var(--Schemes-Surface-Container);
  border: 1px solid var(--color-thistle);
  box-sizing: border-box;
  padding: var(--padding-0) var(--padding-16) var(--padding-0) 4px;
  position: relative;
  isolation: isolate;
  gap: 276px;
}
.leading-icon {
  z-index: 0;
  flex-shrink: 0;
}
.icon-1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  height: 48px;
  width: var(--width-48);
  flex-direction: column;
}
.container,
.icon-1,
.state-layer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: var(--Schemes-Secondary-Container);
  border-radius: 100px;
  overflow: hidden;
}
.state-layer {
  padding: 8px;
}
.icon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  height: var(--height-24);
  width: var(--width-24);
  position: relative;
}
.fab-elevation-override {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 28px);
  right: 16px;
  border-radius: var(--br-16);
  overflow: hidden;
  display: none;
  align-items: flex-start;
  z-index: 1;
  flex-shrink: 0;
}
.deprecated-fab,
.state-layer2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.deprecated-fab {
  box-shadow: var(--M3-Elevation-Light-3);
  border-radius: var(--br-16);
  background-color: var(--Schemes-Secondary-Container);
  overflow: hidden;
}
.state-layer2 {
  padding: var(--padding-16);
}
.boto-corao-parent {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}
.boto-corao,
.heart {
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
}
.boto-corao {
  cursor: pointer;
  height: 38px;
  width: var(--width-48);
  position: relative;
  z-index: 1;
}
.heart {
  top: 6px;
  left: 11px;
  width: 25px;
  height: 25px;
  display: none;
}
.button,
.heart,
.icon3 {
  cursor: pointer;
  position: absolute;
  overflow: hidden;
}
.icon3 {
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  height: 76%;
  width: 87.2%;
  top: 12.4%;
  right: 6.4%;
  bottom: 11.6%;
  left: 6.4%;
  max-width: 100%;
  max-height: 100%;
}
.button {
  border: var(--border-1);
  padding: var(--Space-300);
  background-color: var(--color-silver-200);
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--Radius-200);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--Space-200);
}
.icon4,
.shopping-cart {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  overflow: hidden;
}
.shopping-cart {
  height: var(--height-28);
  width: var(--width-28);
  position: relative;
  flex-shrink: 0;
  display: none;
}
.icon4 {
  position: absolute;
  height: 87.5%;
  width: 91.79%;
  top: 4.29%;
  right: 3.93%;
  bottom: 8.21%;
  left: 4.29%;
  max-width: 100%;
  max-height: 100%;
}
.plus-icon,
.x-icon {
  position: relative;
  display: none;
  flex-shrink: 0;
}
.plus-icon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  height: var(--height-19);
  width: var(--width-19);
}
.x-icon {
  height: var(--height-16);
  width: var(--width-16);
}
.boto-carrinho-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) 17px 1px var(--padding-0);
}
.button2 {
  cursor: pointer;
  border: var(--border-1);
  padding: var(--Space-300);
  background-color: var(--color-silver-200);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--Radius-200);
  box-sizing: border-box;
  width: var(--width-48);
  height: 38px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--Space-200);
}
.shopping-cart3 {
  padding: var(--padding-01);
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 12px;
  width: var(--width-24);
  height: var(--height-24);
  z-index: 1;
}
.button3,
.icon6,
.shopping-cart3 {
  cursor: pointer;
  border: 0;
  overflow: hidden;
}
.icon6 {
  padding: var(--padding-01);
  background-color: transparent;
  position: absolute;
  height: 87.5%;
  width: 91.67%;
  top: 4.17%;
  right: 4.17%;
  bottom: 8.33%;
  left: 4.17%;
  max-width: 100%;
  max-height: 100%;
}
.button3 {
  padding: var(--Space-300);
  background-color: var(--color-slateblue-400);
  height: 38px;
  width: 103px;
  border-radius: var(--Radius-200);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--Space-200);
}
.button4 {
  position: relative;
  font-size: var(--fs-16);
  line-height: 100%;
  font-family: var(--font-inter);
  color: var(--color-whitesmoke);
  text-align: left;
  flex-shrink: 0;
}
.logo-parent {
  width: 100%;
  height: 177.3px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  flex-shrink: 0;
}
.logo-icon,
.pixelgame-logo-minimal-1-icon {
  position: absolute;
  top: -54px;
  left: -17px;
  width: 1551px;
  height: 139px;
  flex-shrink: 0;
}
.pixelgame-logo-minimal-1-icon {
  top: -34px;
  left: -107px;
  width: 530.4px;
  height: 211.3px;
  object-fit: contain;
  z-index: 3;
}
.fundo {
  width: 1547px;
  height: 992px;
  background-color: var(--color-gray-200);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) 13px;
  box-sizing: border-box;
  position: relative;
  isolation: isolate;
  max-width: 101%;
  z-index: 1;
  flex-shrink: 0;
  text-align: left;
  font-size: 80px;
  color: var(--color-slateblue-100);
  font-family: var(--font-montserrat);
}
.ts4-1-icon {
  width: 1823px;
  position: absolute;
  margin: 0 !important;
  right: -276px;
  bottom: -34px;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.frame-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-0) var(--padding-0) 102.2px;
  position: relative;
  isolation: isolate;
  gap: 143px;
  flex-shrink: 0;
}
.frame-child,
.frame-parent,
.line-wrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.line-wrapper {
  align-self: stretch;
  height: 80.8px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) 72.8px;
  flex-shrink: 0;
}
.frame-child {
  height: 3px;
  flex: 1;
  position: relative;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-top: 3px solid var(--color-silver-100);
  transform: rotate(-0.3deg);
}
.frame-wrapper,
.game-info,
.game-info-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper {
  width: 1169px;
  justify-content: center;
  padding: var(--padding-0) var(--padding-20);
  box-sizing: border-box;
  flex-shrink: 0;
}
.game-info,
.game-info-parent {
  width: 989px;
  flex-direction: column;
  gap: 34.7px;
}
.game-info {
  width: 493px;
  gap: 28.8px;
}
.the-sims-4 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.05em;
  line-height: 67.2px;
  font-weight: 700;
  font-family: inherit;
  background: #26215c, #f2f2f7;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: var(--text-shadow-1);
  z-index: 2;
}
.button-collection {
  display: flex;
  align-items: flex-start;
  gap: 5.5px;
  max-width: 100%;
  font-size: var(--fs-16);
  font-family: var(--font-inter);
}
.button5 {
  cursor: pointer;
  border: var(--border-1);
  padding: var(--Space-300);
  background-color: var(--color-gray-100);
  height: 36.5px;
  width: 198px;
  border-radius: var(--Radius-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--Space-200);
  z-index: 2;
}
.button6 {
  position: relative;
  font-size: var(--fs-16);
  line-height: 100%;
  font-family: var(--font-inter);
  color: var(--color-slateblue-100);
  text-align: left;
  flex-shrink: 0;
}
.button7 {
  height: 36.5px;
  width: 112px;
  border-radius: var(--Radius-200);
  background-color: var(--color-gray-100);
  border: var(--border-1);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--Space-300);
  gap: var(--Space-200);
  z-index: 3;
}
.button8 {
  position: relative;
  line-height: 100%;
  flex-shrink: 0;
}
.button9 {
  cursor: pointer;
  border: var(--border-1);
  padding: var(--Space-300);
  background-color: var(--color-slateblue-300);
  height: 36.5px;
  width: 83px;
  border-radius: var(--Radius-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--Space-200);
  z-index: 1;
}
.plus-icon3,
.shopping-cart4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  position: relative;
  flex-shrink: 0;
}
.shopping-cart4 {
  height: var(--height-28);
  width: var(--width-28);
  overflow: hidden;
}
.plus-icon3 {
  height: var(--height-19);
  width: var(--width-19);
}
.lorem-ipsum-dolor {
  position: relative;
  font-size: var(--fs-24);
  line-height: 100%;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue);
  white-space: pre-wrap;
  text-align: justify;
  z-index: 2;
}
.button-wrapper,
.button10 {
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
}
.button-wrapper {
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) 90px var(--padding-0) 87px;
  max-width: 100%;
  text-align: left;
  font-size: 20px;
  font-family: var(--font-iosevka-charon);
}
.button10 {
  height: 29.8px;
  width: 1357px;
  border-radius: var(--Radius-200);
  background-color: var(--color-slateblue-200);
  border: var(--Stroke-Border) solid var(--Schemes-Outline-Variant);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--Space-300);
  gap: var(--Space-200);
}
.button11 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  background: rgba(196, 196, 196, 0.69), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  flex-shrink: 0;
}
.image-background-parent {
  width: 1553px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: -19px;
  flex-shrink: 0;
}
.image-background {
  position: absolute;
  top: 0;
  left: 0;
  background:
    linear-gradient(rgba(247, 246, 255, 0.2), rgba(247, 246, 255, 0.2)),
    linear-gradient(180deg, rgba(247, 246, 255, 0) 43.75%, #f7f6ff 90.1%);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.image-4-icon {
  position: absolute;
  top: 245px;
  left: 106px;
  border-radius: 12px;
  width: 341px;
  height: 512px;
  object-fit: cover;
  z-index: 3;
}
@media screen and (max-width: 1025px) {
  .frame-parent {
    padding-bottom: 66px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 975px) {
  .frame-parent {
    gap: 71px;
  }
  .the-sims-4 {
    font-size: var(--fs-40);
    line-height: 40px;
  }
  .button-wrapper {
    padding-left: 43px;
    padding-right: 45px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .frame-parent {
    padding-bottom: 43px;
    box-sizing: border-box;
  }
  .game-info-parent {
    gap: 17px;
  }
}
@media screen and (max-width: 450px) {
  .fundo {
    height: auto;
  }
  .frame-parent {
    gap: 36px;
  }
  .the-sims-4 {
    font-size: var(--fs-24);
    line-height: 27px;
  }
  .button-collection {
    flex-wrap: wrap;
  }
  .lorem-ipsum-dolor {
    font-size: 19px;
    line-height: 19px;
  }
  .button-wrapper {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
}
